.container{
    width: 70%;
    margin: auto;
}

.header-row{
   background-color: #4EA0FF;
   background-image: url("../img/pattern.png");
   background-repeat: repeat;
   height: 200px;
}
   
.logo-img img{
    width: 200px;
}

.title{
    font-size: 40px;
}

.copyright, .date{
    color: grey;
}

.copyright{
    font-size: 18px;
    font-weight: bold;
}

.date, .didascalia{
    font-size: 12px;
}

.link{
    color:#20A9E5;
    text-decoration-line: none;
}

.text-special{
    background-color: yellow;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.tr-blue{
    background-color: #B1E5F2;
}